* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

}

main{
    display:flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
}
section{
    width: 80%;
    height: 500px;
    margin: 0 auto;
}
.section-div{
    font-size: small;
    color: aliceblue;
    /* font-size: 77px;  */
    text-shadow: 2px 2px 7px black;
    margin: 20px;
    border-radius: 10px;
    align-items: center;    
    display: flex;
    flex-direction: column;
    background-image: url(img/up.jpeg);
    background-size: cover;
    background-position: center;

}

#seccion_2{
    font-size: 15px;
    color: aliceblue;
    text-shadow: 2px 2px 7px black;
    background-image: url(img/down.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 80, 248);

}
.section_2_div >  p{
    background-color: rgba(0, 0, 0, 0.235);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

@media(max-width: 600px){

.section-div > form {
    align-items: center;    
    display: flex;
    flex-direction: column;
    background-color: blue;
}

}